[2018-07-09 10:53] mahdimotamedi opened #1 "doesn't show place correctly"
Unfortunately component make true. but place always is center of map.
i think something is wrong with find coordinate to show marker

[2018-07-09 11:01] mahdimotamedi commented on #1
i found problem
in example marker position is with lat and lng

but in the codes it's Latitude and Longitude

please modify that
i hope you the best...

[2018-07-13 05:59] mahdimotamedi commented on #1
please resolve that if you could. tnx

[2018-07-13 09:06] eregnier commented on #1
Hi @mahdimotamedi
I am not sure to understand the issue you meet with this component. Could you rephrase your issue please , so I can try to fix it.
thank you.

[2018-07-18 04:26] mahdimotamedi commented on #1
In the example (Readme.md)
You wrote lat and lng vars for set coordinate
but in the codes, it must be Latitude and Longitude to work

It just need to change name of vars in the example code . Readme.md

[2018-07-18 07:48] eregnier commented on #1
I did it there 0a9f511b1ea4034dd1411e29f42a5c60e64a93b9. thank you.

[2018-07-18 07:48] #1 closed

[2018-09-03 12:35] davidkrijgsman opened #3 "Flickering of markers when you stop dragging the map"
Thanks for a nice plugin!

However, I noticed there is some flickering of the custom markers when you stop dragging the map: https://codesandbox.io/s/4w642qo17w

Any thoughts on how to fix that? I tried adding { trailing: false } to the debounce which fixed it, but it causes issues when you programmatically (re)center the map: custom markers are not being repositioned.

[2018-09-03 21:43] eregnier commented on #3
Hi,
I did not found how to fix this properly at the moment although I spend many time on this. Unfortunatly, I do not master google maps custom layout enough for now. I would like to fix this, but I may need help.
I'll give another try as soon as I can.

[2018-09-12 22:45] eregnier commented on #3
hi @davidkrijgsman.
is this https://github.com/eregnier/vue2-gmap-custom-marker/pull/2 solving your issue ?
this is actually merged and published to npm, you should test easily.

[2018-09-17 12:33] athasamid opened #5 "cannot redraw marker when marker's prop change"
why cannot redraw/update marker when marker data change?

[2018-09-18 21:37] eregnier commented on #5
it seems that it works properly when I try it. I did a demo there https://eregnier.github.io/vue2-gmap-custom-marker/dist/ that is commited in the gh-pages branch where you can see the code.

[2018-09-18 23:30] eregnier commented on #5
I modified the code, the plugin is now in V4.0 and let the user dom content to really live within each marker and it is possible to manage data binding and such like in the demo. I just found a way to use the user dom instead of cold copy that previously was breaking data bindings and events listeners.

Checkout out the demo et let me know if this is ok for you.

[2018-09-19 03:30] athasamid commented on #5
Thanks, You save my day

[2018-09-19 09:12] eregnier commented on #5
I spend all my night on it, but the plugin is now way better :D
Glad I saved you day !

[2018-09-19 09:12] #5 closed

[2018-09-19 10:11] eregnier commented on #3
I upgraded the component, no more flickering. Have a look at the demo to see changes https://eregnier.github.io/vue2-gmap-custom-marker/dist/
Is it ok for you ?

[2018-09-20 08:04] davidkrijgsman commented on #3
Hi @eregnier,

Awesome, thanks! I updated the package and it looks like the issue has been resolved.
If I do encounter any issues I'll let you know, but so far so good :)

[2018-09-20 14:19] davidkrijgsman commented on #3
I now have an issue which wasn't there before:

[code]

Although nothing actually breaks in terms of user experience, this error is _sometimes_ displayed in the console when the map and markers are loaded.

[2018-09-20 15:03] ColossalPercy opened #6 "Error in nextTick: "NotFoundError: Failed to execute 'insertBefore' on 'Node'"
Just updated to v5.0.1 to stop the flickering of icons, works perfectly so thank you for that.

However, I'm now getting an error that did not occur when on v3.0.2:
`[Vue warn]: Error in nextTick: "NotFoundError: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node."`

Part of my code includes filtering the icons that are on t

[2018-09-21 07:29] eregnier commented on #6
I think i had this issue before. This is vue dom management related. I wrapped my custom markers into an extra div within the map tag to solve the issue. This is because i think vue js does not succeed with generation looped content with slots  dom content. On my side i dont know how what to do to handle this but i should try to wrap my slot tag of the component template into an extra div. I have

[2018-09-21 07:54] eregnier commented on #6
I forgot that there is already a wrapping div in the component. I do not succeed in reproducing the error (maybe it is a good thing) so, you may just wrap the custom markers components in a div. Let me know if this works. As I told you, the problem may be that you do a v-for on the component directly and so vuejs does not manage this properly. Let me know if the wrapping div solves the issue.

Thi

[2018-09-21 08:16] eregnier commented on #3
I published a fix for this that I could not test, but it should do the trick :https://github.com/eregnier/vue2-gmap-custom-marker/commit/880ea88530f432e74981f7cefdb4cb69747d0156 . Can you let me know if this solved your issue?

[2018-09-21 17:46] ColossalPercy commented on #6
Apologies, after a PC shutdown the error has gone, must have been a strange caching issue.

When I apply the filter there is no issue, but as I remove the filter and the markers start to re-appear I get an error:

`gmap-custom-marker.vue?ad03:55 Uncaught (in promise) TypeError: Cannot read property 'offsetWidth' of undefined
    at Overlay.draw (gmap-custom-marker.vue?ad03:55)
    at eval `(gmap-c

[2018-09-22 12:35] eregnier commented on #6
Thank you for your time providing a reproducable bug project.
I checked out your code and it appears that in the new version of the component, the remove dom management is not well implemented. I will fix this asap to make it work properly.
This issue is mainly related to the fact that in the new version the dom is shared from container parent to child whereas it was previously a dom copy and clea

[2018-09-22 13:38] eregnier commented on #6
I solved the bug. https://github.com/eregnier/vue2-gmap-custom-marker/commit/6cb1999ba41e166dfb77510d0405fdfc042ad2d6

it seems to fix the bug in for your project.

Is it ok on your side ?

[2018-09-22 17:07] ColossalPercy commented on #6
Fixed. That's perfect thanks.

[2018-09-22 20:38] #6 closed

[2018-09-23 09:43] eregnier commented on #3
Hey, brand new version of the component here. You may give it a try, it works way better now.

[2018-09-24 10:28] davidkrijgsman commented on #3
Looks good, thanks for the work! 👍

[2018-09-24 10:28] #3 closed

[2018-10-05 09:46] ruben82 opened #10 "Error in nextTick: "TypeError: to is undefined""
Hi there,
I'm trying to add your interesting component, but I have a problem and I cannot understand why.
When I try to add it, I receive

`"[Vue warn]: Error in nextTick: "TypeError: to is undefined"`

And, at the end, this one

`onAdd CustomMapMarker.vue:108
eu.prototype.draw
https://maps.googleapis.com/maps-api-v3/api/js/34/10/intl/it_ALL/overlay.js:4:383
fu.prototype.Ob
https://maps.googleapis

[2018-10-05 09:59] ruben82 commented on #10
Hi there, I solve it.
I found the hypothetical bug.
I think maybe is righter to put $mapPromise in the **mounted** hook and not in the **provide**.
At the row 108, you use a div that is not mounted at the DOM yet, so it's  null.
I changed provide method with mounted, and it works fine.
I hope this help

[2018-10-05 22:40] eregnier commented on #10
I never had this issue before.
You may be right with the appropriate moment where trigger the mapPromise.
there is no reference to a `to` variable in the component.
Is your map properly loaded by the way ?
I will think about changing the trigger moment and I have to test it before, but I am surprised you are the only one to meet this issue at the moment.

[2018-10-23 17:23] AndreyDolgov opened #11 "Uncaught TypeError: Cannot read property '$validator' of undefined"
Hello,
I'm trying to add this component, but I have a problem.
When I try to add it, I receive
"Uncaught TypeError: Cannot read property '$validator' of undefined
    at mergeData (app.js:2936)
    at VueComponent.mergedDataFn (app.js:2969)
    at initProvide (app.js:5427)
    at VueComponent.Vue._init (app.js:6429)
    at new VueComponent (app.js:6598)
    at createComponentInstanceForVnode (app.

[2018-10-25 15:29] eregnier commented on #11
Hello,
I have no idea whats appening there. Can you show me your component's code ? (or at least the section around where you use my component).

[2018-10-25 15:31] eregnier commented on #10
I think I understand the issue now. this component requires both the dom to be mounted AND the map to be ready. I should trigger the callback code once both ran to ensure the component is really ready to run.

[2018-10-27 08:01] AndreyDolgov commented on #11
I have localized the problem, but have not solved it yet.
This is my code:
[code]
As i see - all problem with this option { inject: true} in  vee_config
If i will set vee_config.inject = false, the problem will be solved. But in this case i will to inject $validator in all components myself - thats not good :(

[2018-10-31 06:36] loama opened #12 "position not updating"
when I change the position values of the markers they do not move on the map.
Do you know if I am missing something? like triggering an event?

[2018-11-01 08:57] eregnier commented on #12
no, markers should be reactive. please share a bit of code, so I may understand your issue ;)

[2018-11-01 09:04] eregnier commented on #11
I have absolutly no idea about what is vee and what $validator is used for, but it does not seems related to this component. You may have a side effect with this component, but there is not enough information there to go further in troubleshoting.

You may be right, with about the $validator that is broking the map.

Do you still have the issue ? can you explain a bit more, or share code related t

[2018-11-25 02:37] trunghongoc opened #13 "Cannot drag"
Marker havent drag event

[2018-11-25 02:38] trunghongoc opened #14 "Cluster not working when using vue2-gmap-custom-marker in https://github.com/xkjyeah/vue-google-maps"

[2019-01-15 07:53] eregnier commented on #13
Hey @trunghongoc ,
What do you suggest this event should do ?

[2019-01-18 04:08] ekinbukulmez opened #15 "Importing GmapCustomMarker not working"
Hello!

I am trying to use a Vue component as a map marker on a Vue2 Gmap. I used the method described in the docs to import the feature but  when I try to import it like so:

[code]
I get a syntax error and my code is not able to compile. I tried to import it in the same way that the regular GmapMarker is imported:

[code]

but the export was not found. Is there any other way I can successfully i

[2019-01-18 13:43] eregnier commented on #15
Hey !

Can you share your compilation error please ?
Your code implementation seems right to me. The bundling is not perfect and would benefit from a PR, but your code should work.

The only thing I think that may not work properly in your case is you may have missed the `npm install vue2-gmap-custom-marker --save` command so the package is not available locally.

Hope this helps, otherwise a stac

[2019-01-22 01:14] blaiddyd commented on #15
Works like a charm! Thank you so much! :)  My mistake for not thinking about that!

[2019-01-22 01:14] #15 closed

[2019-01-29 08:31] ddedic commented on #14
+1

[2019-02-26 10:02] ZacharyRZ opened #16 "TypeError: this.$mapPromise.then is not a function"
TypeError: this.$mapPromise.then is not a function

i use your npm package had same error

can you help me ?

[2019-02-26 10:15] eregnier commented on #16
Hi,

please share a trace or a bit of code , so I can investigate.

Thank you.

[2019-02-26 12:05] XzyZachary commented on #16
Sorry, this may be due to my project. I separated and succeeded.
Thank you.

[2019-02-26 12:05] #16 closed

[2019-03-13 07:06] apichaikub commented on #14
+1

[2019-03-22 07:00] pribadi1st commented on #15
hi @eregnier , @ekinbukulmez  i get the same issue with importing the plugin

the error is

[code]
i used the latest version.
do you know why ?
thank you

[2019-03-22 10:24] eregnier commented on #15
@pribadi1st I just retested the last version of the component on the gh-page branch and it seems to work properly. I think the error is on your side also no one  else had this issue until now.

Your error looks like a bad configuration of your webpack that may not load .vue files properly. The hint is in your stack trace that the syntax error is encountered with the < character that this component

[2019-03-25 01:02] eregnier commented on #14
Guys ! I am glad to say that I added this feature, cluster now works with the 5.4.3 release. Enjoy :)

[2019-03-25 01:02] #14 closed

[2019-03-28 13:42] JoseGoncalves opened #18 "Issue mapping latitude or longitude 0"
Found an issue mapping a custom marker with latitude 0 and longitude 0.
With that coordinates the marker is always displayed on the center of the viewport, whatever position that is.
Looking at the source code it seems to me that the issue is due to this code:
[code]
`this.marker.lat` (or `this.marker.lng`) should not be used to check if the prop is available, because when it's 0, it will return f

[2019-03-28 20:14] eregnier commented on #13
you may handle this by changing the position of the maker on the map as this component handles click event and their coordonates can be dynamically changed.

[2019-03-28 20:16] eregnier commented on #12
close due to inactivity and markers are already reactive

[2019-03-28 20:16] #12 closed

[2019-03-28 20:16] #13 closed

[2019-03-28 20:17] eregnier commented on #11
It seems the component is not directly related to this issue. Also close due to inactivity.

[2019-03-28 20:17] #11 closed

[2019-03-28 20:19] eregnier commented on #10
Problem solved on your side, I'll implement this if any more issues of the same type arrives from users. The component seems to works properly at the moment

[2019-03-28 20:19] #10 closed

[2019-03-28 20:30] #18 closed

[2019-03-28 20:31] eregnier commented on #18
Solved. thank you @JoseGoncalves

[2019-03-29 14:32] jsonmaur opened #19 "Updating the zIndex prop"
If I update the `zIndex` prop after the marker has been mounted, it doesn't reflect the update on the map. I'd love to be able to send specific markers to the front or back when there is some overlap.

[2019-03-29 14:33] eregnier commented on #19
ok, I'll have a look.

[2019-03-29 19:09] popcorn-lille commented on #19
fixed as of v5.5.0

[2019-03-29 19:10] eregnier commented on #19
fixed in v5.5.0, enjoy :D

[2019-03-29 19:10] #19 closed

[2019-03-30 01:59] jsonmaur commented on #19
Wow, you make quick work! Thanks very much 👍

[2019-03-31 17:12] nuudles opened #20 "Warning displayed when switching routes"
We're currently getting a warning when we switch between routes that include maps with custom markers:

[code]

[2019-03-31 17:52] eregnier commented on #20
Ok, i'll have a look.

[2019-03-31 20:03] eregnier commented on #20
I reproduced locally and I do not have the issue on the sample demo that are on gh-pages.
do you have some additional clues to troubleshot this issue ?
Any code  avaimable ? or stack trace ?
Your code may destroy the map before the component is destroyed by the page change from the vue router.

[2019-05-25 13:49] eregnier commented on #20
Closing due to inactivity and not reproducable on my side.

[2019-05-25 13:49] #20 closed

[2019-06-03 10:22] Flyrell opened #21 "Marker not moving as `projection.fromLatLngToDivPixel` requires correct LatLng object"
Hi.

After playing with your library for a while I realized that the markers do not stay at the same place on map. I was wondering why and realized that it happens because `projection.fromLatLngToDivPixel` returns incorrect object. There's probably been an update and it does not accept the object you're passing.

So, I edited that to pass LatLng object and it seems to be working properly. PR is av

[2019-06-04 21:11] #21 closed

[2019-06-04 21:11] Flyrell commented on #21
Merged in [#22](https://github.com/eregnier/vue2-gmap-custom-marker/pull/22)

[2019-06-05 12:58] Flyrell opened #23 "Cannot read property 'repaint' of undefined"
Sometimes on create and/or destroy, the library is throwing `repaint` error specified in title, as it's called inside `setTimeout` and by the time it's called `$overlay` does not exist anymore.

[code]

[Quick fix available in #24](https://github.com/eregnier/vue2-gmap-custom-marker/pull/24)

[2019-06-06 12:51] vlada-symphony opened #25 "Zindex changes are not applied"
When marker is displayed and z-index prop gets changed, the marker doesn't respect the change. I think the solution is to add watch (similar to the one for watching position changes) and call repaint when z-index prop changes.

[2019-06-09 10:04] markmooibroek opened #26 "Map click triggered on custom marker click"
Heya, really cool plugin. Thanks!

I'm running into a little problem where my map click handler is called then i click a marker. This worked on the normal maps markers but after switching to your custom marker lib Im getting this.

[code]

I tried `event.preventDefault();` on the marker handler, but thats not working :-)

Any idea on how i should approach this?

Kind regards

[2019-06-09 10:41] eregnier commented on #25
It should work. You may take a look at the live demo https://eregnier.github.io/vue2-gmap-custom-marker/dist/ where there is a sample of z-index live edit component that dynamically toggle on user inputs.

Tell me if it is ok or not.

Regards

[2019-06-09 11:30] eregnier commented on #26
Can you tell me what is the exact problem you have with this code ? any undesired effect ? what do you want to do and what does fails ?
I may help you better with more context :)

[2019-06-09 11:34] markmooibroek commented on #26
The undesired effect is that when on clicking on the marker the map click is also detected. I want the click on the marker to add a marker to a selection and if no marker is clicked I want to clear the selection. And because the maps.click is triggered after the marker.click my selection is not working.

Hope this clears it up a bit :-)

[2019-06-09 12:15] eregnier commented on #23
It should be solved with https://github.com/eregnier/vue2-gmap-custom-marker/commit/9f901a4399fa2aceb399007c9569368ee3cd1685

Package release 5.5.2 contains the changes.

Is it ok on your side @Flyrell ?

[2019-06-09 12:15] #23 closed

[2019-06-09 12:41] vlada-symphony commented on #25
Hey, thanks for answering. Demo works as expected, but I think this happens only when custom marker is defined with v-for. I updated demo code with something like this:

[code]

and `myMarkers` is defined like this:

[code]

And then the bug reproduced. `<b>{{marker.zIndex}}</b>` updates its text correctly, but `z-index` isn't updated until the map is moved or zoomed in/out (which is why I assumed

[2019-06-09 13:15] eregnier commented on #26
Thank you for details. I don't know if there is good patterns for this.

 I have 2 solutions in mind :

1) do it well by understanding gmap api, handle events properly and so on.
I have no time for this at the moment, but any help would be appreciated :)

2) Do an adhoc handling that I woud do like this :

[code]

and on the map click callback
[code]

Is it enought for your needs ?

[2019-06-09 14:29] vlada-symphony commented on #26
I think what you want is `event.stopPropagation()`, so basically replace `@click.native="onMarkerClicked($event, marker)"` with `@click.native.stop="onMarkerClicked($event, marker)"`.

[2019-06-09 14:33] markmooibroek commented on #26
Awesome! Works like a charm. Not too advanced with Vue yet. Thanks for helping!

[2019-06-09 14:33] #26 closed

[2019-06-09 22:42] eregnier commented on #25
solved in 5.5.4 version, npm is up to date with the fix.

[2019-06-09 22:42] #25 closed

[2019-06-09 22:43] eregnier commented on #25
Thank you @vlada-symphony for help in this plugin improvement.

[2019-06-09 22:46] eregnier commented on #26
@vlada-symphony : Perfect :+1:  I did not know this (or just forgot about it). thank you for help and improvements. :heavy_check_mark:

[2019-07-19 05:14] Anshdesire opened #28 "how can i use hover instead of click"
how can i use hover instead of click

[2019-07-19 21:50] r29taheri commented on #15
I have the same error in nuxt
 ` Unexpected token < `

[2019-07-20 21:07] eregnier commented on #15
Hi @r29taheri ,

This issue is related to the parent project https://github.com/xkjyeah/vue-google-maps as the error that raises nuxt is an import error from `./components/infoWindow.vue`. I cannot do anything for this issue into this project. To solve the issue, the vue google map project must be fixed to work with nuxt. however, it does not evolve a lot as it's author have no time for it.

I had

[2019-07-20 21:33] eregnier commented on #28
Hey,

You may do something like :

[code]

`mouseenter.native` is the key. You can use any event handler provided by vue

[2019-07-20 21:33] #28 closed

[2019-08-12 17:27] robjesus opened #29 "Example Source Code"
Hi, can you provide the source code from the demo on https://eregnier.github.io/vue2-gmap-custom-marker/dist/

[2019-08-12 19:07] eregnier commented on #29
Hi @robjesus,

The code for the demo is in the gh-pages branch : https://github.com/eregnier/vue2-gmap-custom-marker/tree/gh-pages?files=1

Let me know if any toubles.

Have fun :)

[2019-08-12 19:07] #29 closed

[2019-09-14 15:06] pniedzwiedzinski commented on #15
I had the same error and this worked for me:

[code]

I'm posting it because I couldn't find a solution for this anywhere.

[2019-09-15 08:31] eregnier commented on #15
Hey @pniedzwiedzinski, thank you for your time and sharing the information! I hope this will help.

[2019-10-10 10:27] zecka opened #30 "Error on npm install"
NPM return following errors when i try to install the package:

[code]

[2019-10-10 12:48] zecka commented on #30
Btw, it was an issue due to npm cache
I run following command to solve this issue:
```npm cache clean --force```

[2019-10-10 12:48] #30 closed

[2019-10-19 22:45] eliecer2000 commented on #15
this worked for me, thanks

[2019-10-21 15:08] Evertt opened #31 "Old markers don't disappear when my v-for list changes"
The title says it all. I have a bunch of markers that I render using `v-for="marker in markers"` where `markers` is a computed property.

Whenever the computed property changes, the old markers don't disappear. Only new markers are added, which is not how it should be. This did work properly when I was still using the original `gmap-marker`.

After further debugging I see it has to do with `gmap-c

[2019-10-22 13:54] eregnier commented on #31
Hey,
Yes, the custom markers work with cluster.
I have to test to reproduce your issue to find out a solution.

[2019-10-23 08:25] Evertt commented on #31
If you look at my PR, it already gives a partial solution to the problem. Though it doesn't solve it completely yet, it's still buggy.

[2019-10-24 09:37] amineyarman commented on #31
I ran into a similar issue.I display or hide markers depending on whether they are within the map bounds.
What happens is: Let's assume we have a cluster of 4 markers. I move the map and 2 of them disappear from the bounds. Then I come back to have them all in the bounds and go in a cluster view, then the cluster displays 6 markers.
@Evertt Your solution solves the problem somehow.

[2019-10-24 10:14] eregnier commented on #31
Ok then, I merge your work Evertt and do a release. I will investigate to find out how to completely fix the problem.

[2019-10-24 10:14] #31 closed

[2019-11-12 15:18] Ponokefalos opened #34 "vue2-gmap-custom-marker availabe on unpkg"
Hello,

I am currently working on a project built with require.js and I have tried to get the vue2-gmap-custom-marker component from unpkg instead of npm. Unfortunately, when I try to get the package from  [https://unpkg.com/vue2-gmap-custom-marker](https://unpkg.com/vue2-gmap-custom-marker), gets the .vue  part instead of the compiled version!

Any ideas or fixes on this? I could really appreciat

[2019-11-16 10:11] amirhoseinsalimi commented on #14
Any documentation, buddy?!

[2019-11-16 22:18] eregnier commented on #14
Here it is : https://github.com/eregnier/vue2-gmap-custom-marker/blob/master/README.md#clusters

(I just wrote it 5 minutes ago :writing_hand: )

[2019-11-16 22:22] eregnier commented on #34
Well, I think this is related to the way the repository is made. I don't produce any "compiled version". There is only the source file in the repository. I don't know how I should package it for your need. Any suggestions ?

If you can provide me a boilerplate that uses the unpkg source, then I will be able to try to provide a "compiled version" using this I think. https://cli.vuejs.org/guide/buil

[2019-11-25 17:19] polsola opened #35 "Markers position not refreshing"
Hello! I'm using custom markers and I'm trying to refresh the position every X seconds, currently I've faked it with a timeOut like this:

[code]
This code works with default markers but custom ones seems not to refresh, it's maybe because I'm using Nuxt.js? I'm importing the library with a plugin and ssr: false to avoid errors

[2019-12-17 08:01] eregnier commented on #34
close due to inactivity

[2019-12-17 08:01] #34 closed

[2019-12-17 08:05] eregnier commented on #35
Hey polsola.
I saw your issue just now, sorry.
I don't know a lot nuxt, but indeed it seems there is issues related to nuxt due to the underlaying gmap library of this component. there is a small trick in the [link on the README](https://github.com/eregnier/vue2-gmap-custom-marker/issues/15#issuecomment-544203425) that gives a hint how to solve it. I cannot do any thing more for you on this topic.

[2019-12-17 08:11] eregnier commented on #35
I also thing you issue may be due to SSR that doesn't compute marker on gmap properly.
You may try to render them on client side for a test and if it is related to SSR, you may share me any technical detail that would help to solve your issue.

[2019-12-18 08:25] polsola commented on #35
Hello Eric,
Do not worry, thanks for the help!
I've tried now to import it without plugin and with the workaround, with this there's no error, but the position still doesn't refresh, here's how it looks now:

[code]
I'm gonna try to create the same without Nuxt.js to see if this works as expected

[2019-12-18 09:00] polsola commented on #35
Hello again Eric,

Weird thing, if I set both of the markers (normal & custom) the position updates correctly on both, here's the template now:

[code]

[2019-12-26 16:46] VictorPullzz opened #36 "Markers are "jumping""
Hello, As the map approaches, the markers “jump” a bit, as if “are shaking” around the position :)
That the problem?
My code:
[code]

[2020-01-07 12:35] eregnier commented on #36
I am back from holiday, I'll have a look into your issue soon.

[2020-01-07 12:36] eregnier commented on #35
I am back from holiday, I'll have a look into your issue soon.

[2020-01-10 13:05] eregnier commented on #36
Hey @VictorPullzz,
I have no such issue on the demo here https://eregnier.github.io/vue2-gmap-custom-marker/dist/
The code for the demo is here https://github.com/eregnier/vue2-gmap-custom-marker/tree/gh-pages
In the snippet you sent there is no code logic available, so the template code looks good and should work properly.

I think you have some code logic that is breaking the good behavior of th

[2020-01-10 13:28] eregnier commented on #35
Hey @polsola ,

Here is a working code

[code]

I just assigned an object reference to the marker position instead of setting individual raw position number values. This let vue reactive system continue to work properly.

Also, don't forget to clean your set interval in a vue destroy method for exemple if you want to avoid strange behaviors and memory leaks.

Hope this helps

[2020-01-10 13:28] #35 closed

[2020-02-09 16:02] eregnier commented on #36
closing due to inactivity.

[2020-02-09 16:02] #36 closed

[2020-03-12 11:58] barkovskiy opened #38 "Duplicate markers on the map."
Hello! I have problem with duplicate markers on the map.

My code very simple.
`<GmapMap ref="gmap" :center="center" :zoom="zoom" style="width: 100%; height: 100%">
<cluster>
          <gmap-custom-marker
            v-for="marker in markers"
            v-bind:key="marker.id"
            :marker="marker.pos"

I tryed to add check for marker existence (check by **isAdded** props in **inst** object

[2020-03-28 06:27] CDBuckmaster opened #39 "Marker offsets completely off with new latest update"
As of 5.5.10, all of my markers are appearing about 50% of the map's width to the right of where they are supposed to be.  I'm not sure if it's to do with the relative positioning of other parent elements, but the issue is fixed if I replace the transform with top and left.

This is without any set offset for the markers, just the position is set.

[2020-04-09 01:18] eregnier commented on #39
ok. I have not much elements to find out what's hapenning. I think I have to rollback. I'll do it soon. Sorry for the possibly broken release.

[2020-04-12 13:30] eregnier commented on #39
I fixed it. I released v5.6.0 where behavior is back to the previous one and where a new option appears letting user display markers using css. This is described in the documentation / readme :

![image](https://user-images.githubusercontent.com/5399780/79069956-6f452400-7cd2-11ea-96bf-92b4e598072e.png)

[2020-04-12 13:30] #39 closed

[2020-04-12 13:37] eregnier commented on #38
I have not enough clues with your code sample.
I guess your issue comes from markers data. You may check this content and find out why is there some duplicate markers.
I also may help more if you share me some shareable markers data. (you may share the whole annonymised for exemple.

I have no other issues like this until now and there are now quite some user using this plugin. I doubt this issue

[2020-04-13 11:27] ashrafreda opened #40 "The custom marker doesn't display in the exact LatLng"
![Screen Shot 2020-04-13 at 1 25 02 PM (2)](https://user-images.githubusercontent.com/16459340/79117124-90694b80-7d8a-11ea-8e67-5abcd5eb1691.png)

[2020-04-14 09:26] barkovskiy commented on #38
@eregnier

Markers come from backend and has unique id. Marker example:
`{"id":6,"lat":55.6668532,"lng":37.2757566}`

I added check for marker existence (check by isAdded props in inst object) in afterCreate function and this fix my trouble with duplicates, but i received next error:
`DOMException: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is

[2020-04-14 11:34] ashrafreda commented on #40
Thanks.
Fixed by including the whole component file inside my project.

[2020-04-17 21:28] #40 closed

[2020-04-17 21:30] eregnier commented on #38
try to wrap your custom markers into a div if you have many sibbling custom marker. This prevent vue to loose track of your components.

Let me know if this solved your issue.

[2020-05-26 13:41] cjlaborde opened #41 "Other google maps items getting activated on click."
https://gph.is/g/ZkRXPNp
Other google maps items getting activated on click.
This issue didn't happen when I used the normal marker.
It cancel out my info window and opens a google maps info window instead.
[code]
These the cordinates that are causing me problems
[code]

Basically when I click icon it closes the infowindow and opens the google map own infowindow of a nearby area.

[code]

[code]

[2020-05-26 15:49] cjlaborde commented on #26
@vlada-symphony thank you so much!
Been testing for over an hour to fix a similar issue.

[2020-05-26 17:53] cjlaborde commented on #41
Fixed it by using
[code]

[2020-05-26 17:53] #41 closed

[2020-06-09 20:10] eregnier commented on #38
@barkovskiy any news ? If no I will close soon.

[2020-06-11 09:22] ghost opened #42 "Render 4k marker on map with cluster"
My problem is that it takes too long time to render,
- With vue2-gmap-custom-marker, it takes 2 minutes to complete
![image](https://user-images.githubusercontent.com/19403977/84367420-6acbb780-abfe-11ea-93b3-ce1787792e94.png)

- But with vue-google-maps marker It only takes 10 seconds to complete
![image](https://user-images.githubusercontent.com/19403977/84368324-9c914e00-abff-11ea-9d90-353c7302

[2020-06-11 19:50] RamanSel opened #43 "zIndex"
Hello,

First of all, thank you for such a great component.

I was wondering if it's possible to adjust the z-index of the gmap-custom-marker to be on top of regular map-info-window? As I Have an issue with gmap-custom-marker not being the top-most level.

I have a polygon map as a background (each polygon is clickable) and gmap-custom-marker is clickable through when I click on it.

![image](http

[2020-06-12 15:31] RamanSel commented on #43
After some research, my real question is, is there a way to select on which map pane gmap-custom-marker is displayed? As I am using it instead of info-window, and want it to be on the same pane as info-window (floatPane).

[2020-06-16 08:51] eregnier commented on #42
Although there is some way to improve the code speed, the rendering time for this component is actually related to the fact that it manages some dom element rendering and data binding whereas the built-in vue gmap marker only display one image element.

If you find out what is bottleneck in this component , we may discuss how to improve it's performances, and I will surely integrate them as much a

[2020-06-16 08:52] eregnier commented on #38
close due to inactivity.

[2020-06-16 08:52] #38 closed

[2020-06-20 19:52] eregnier commented on #43
Hey,

If we look at the code we have in the component

[code]
So maybe if you use the component.$el you will be able to acheive what you want. (maybe you can use [vue refs](https://vuejs.org/v2/guide/components-edge-cases.html#Accessing-Child-Component-Instances-amp-Child-Elements))

Let me know if I am in or if I answered off topic.

Also, I don't know I you saw, but you may interact with the mar

[2020-06-20 19:53] eregnier commented on #42
Any news for this topic @DE-TamPham ?

[2020-06-20 19:56] eregnier commented on #42
If you "only" need  to display image markers, you might serverside generate images and use the built in image marker with server urls solve this problem.

[2020-06-28 08:27] eregnier commented on #43
Is it ok for you @RamanSel  ?

[2020-07-19 22:12] sgarner commented on #15
I encountered a related issue using this module with Nuxt. We were using the above transpile config fine before, but after updating to `@nuxt/typescript-runtime` v1.0.0 and `@nuxt/typescript-build` v2.0.0, started getting a build error saying the module could not be found:

[code]

The solution was to import the component from the vue file path directly:

[code]

instead of from the package index:

[2020-07-20 07:15] eregnier commented on #15
Hey @sgarner ,

There was no recent changes on index.js which is this plugin entry point that just loads the `.vue` file for you.
I think you have a regression due to the updated behavior of your nuxt/typescript toolchain.

On the other hand, this module packaging system is almost non existent and pretty raw, as I never needed one and there was no complaints about it among users. Except for Nuxt u

[2020-07-20 07:18] eregnier commented on #43
Hey @RamanSel,

I close this thread due to inactivity and because this is a very specific edge case where I suggested a solution.
Feel free to reopen if you want to go further on this topic.

[2020-07-20 07:18] #43 closed

[2020-07-20 07:20] eregnier commented on #42
Hey,

I close this issue due to inactivity and because there is no real solution doable in this plugin to improve the render throughput. I also suggested room for improvements for any interested users.

If anyone wants to go further in performance optimization, feel free to reopen the topic.

[2020-07-20 07:20] #42 closed

[2020-09-18 03:03] anchetaWern commented on #20
@eregnier I got the same error. Here's the code I'm using:

[code]

I'm using it with `vue2-google-maps` and instantsearch:

[code]

Here's the exact warning I'm getting:

[code]

I was able to solve it by doing something like this:

[code]

[code]

Would be good to have a better way of doing it.

[2020-09-20 10:10] eregnier commented on #20
Hey . I think you should try to empty your state.items list in the wrapping component destroy hook. This would prevent map component repaint after yoyr route changed.

Is it clear enough ?

[2020-10-23 15:22] bwhjakob opened #45 "HotFix: typeerror: cannot read property 'repaint' of undefined at vuecomponent.zindex"
I'm using a computed property to change the selected-state of a marker.
I also change the z-index so the marker comes on top of the other markers.

I have tracked the issue to somewhere around line 68-70.
A simple check fixes the problem:

zIndex(val) {
  if( this.$overlay )
    this.$overlay.repaint()
  }

[2020-10-27 19:28] eregnier commented on #45
hey there.

please show me how to reproduce the error. I don't really want to integrate code if I cannot test it.
You might also do a true pull request, you are already close to it with.

[2020-10-27 19:33] eregnier commented on #45
It looks fine finally, I implemented it and there is no visible regressions.

Thank you for your contribution.

[2020-10-27 19:33] #45 closed

[2020-11-03 08:00] ethiry opened #46 "vue-google-maps is no longer maintained"
Hello,
This project is a plugin for [vue-google-maps](https://github.com/xkjyeah/vue-google-maps) which unfortunately is no longer maintained. This fork: [gmap-vue](https://github.com/diegoazh/gmap-vue) is active though.
In my project I use gmap-vue and vue2-gmap-custom-marker together. It seems to work, but vue2-gmap-custom-marker installs vue-google-maps as a dependency.

Could vue2-gmap-custom-

[2020-11-10 11:33] eregnier commented on #46
Yes, that's a good idea. I think however i will only remove this dependency and add information in the readme that this plugin work for both projets. It seems indeed that this plugin is used in many projects now so I won't indirectly add extra processing or misleading content to existing users.

Thank you anyway for pointing me in the right direction :)

Note : I will start by implementing this up

[2020-11-10 14:07] eregnier commented on #46
I did some tests. This project is bound to the existing vue-google-map project as it loads some dependencies to this project. This si annoying but  but I have to deal with it.
I guess the cleaner solution is  to create a new major breaking version.
Howerver I don't know if gmap-vue is mature enough to follow this path now. There is not much stars on it at the moment and it is surely not widely ado

[2020-11-10 14:54] ethiry commented on #46
I simply put gmap-vue instead of vue2-google-map both in package.json
and gmap-custom-marker.vue and it seems to work.

Le mar. 10 nov. 2020 à 15:07, eric regnier <notifications@github.com> a
écrit :

[2020-11-11 16:15] eregnier commented on #46
This might be because you did not removed the previous node_modules folder and reinstalled all with `npm i`. If you do so, then  the  vue2-google-map plugin sources won't be present anymore, so the install is broken.
Let me know if I miss something.

[2020-11-12 07:25] ethiry commented on #46
Indeed I did clear my node_modules folder.
But I referenced this fork in my package.json :
https://github.com/KDS/vue2-gmap-custom-marker
and only gmap-vue is used, not vue2-google-maps.

Le mer. 11 nov. 2020 à 17:15, eric regnier <notifications@github.com> a
écrit :

[2020-11-12 23:19] eregnier commented on #46
Hey , I just released V6.0.0 that is now based on vue-gmap. This fork seems legit so I did it finally :).
Thank you for your suggestion, I hope this is all ok for you now.
Les me know if you have any problem with this release.
Note: I also updated the readme with legacy management notes.

[2020-11-12 23:19] #46 closed

[2020-11-29 19:17] ChristianBielak commented on #15
This didn't work for me, but i was able to solve this issue with registering the component in a nuxt.js plugin.

[2020-11-30 04:06] thanhchuongbmd commented on #15
the same

[2020-11-30 04:25] thanhchuongbmd opened #47 "Can not using gmap custom maker in nuxt 2.0 typescript"
Version 5.6.2 working ok!
In my nuxt config:
`{
 build: {
    transpile: [
      /^element-ui/,
      /^vue2-google-maps($|\/)/,
      "vue2-gmap-custom-marker"
    ]
  }
}
`
<img width="1358" alt="Screen Shot 2020-11-30 at 11 14 20" src="https://user-images.githubusercontent.com/67777599/100568765-abc79d80-32fe-11eb-936f-3701b856d3cf.png">

[2020-12-01 07:29] eregnier commented on #47
Hey,
This issue is because I changed the underlying gmap vue library. see [the note](https://github.com/eregnier/vue2-gmap-custom-marker#-important-note) for more information.
You can either :
 - upgrade to maintained library
 - stick to the legacy library

Let me know if there is any other troubles.

[2020-12-01 07:30] #47 closed

[2021-01-18 13:03] sinangulsever opened #48 "Rotate Marker"
Does your library support marker rotation?

rotation attribute

[code]

[2021-01-19 14:37] JohnyJohny1861 opened #49 "GmapInfoWindow does not work"

[2021-01-19 14:37] JohnyJohny1861 commented on #49
<GmapCustomMarker
      v-for="(m, index) in markers" :key="index"
      alignment="center"
      :marker="m.position"
      :ref="`gmarker${m.id}`"
      :clickable="true"
      @click="toggleInfoWindow(index)">
  <PinSvg :rotate="m.windowInfo.direction"/>
  <GmapInfoWindow
          v-if="m.windowInfoOpen && m.windowInfo"
          @closeclick="m.windowInfoOpen = false">
      <div class="pm-inf

[2021-01-19 23:48] eregnier commented on #49
hey. I can help you , but can you explain what you are trying to do ? please add more context and what are your imports. I cannot really figure it out what you want here without at least one question.

[2021-01-19 23:57] eregnier commented on #48
The library does not provide direct marker rotation system.

However, you can do marker rotation using css. You should look at the [component demo](https://vue2-gmap-custom-marker-demo.utopland.net/) where I added animate.css on markers.

In case you include animate.css the following code should animate marker by only adding classes to the html slot tag.

[code]
Let me know if this is ok for you :

[2021-02-03 14:50] dataexcess commented on #15
Could you please give exact steps for this?
I tried: making a js file in the nuxt /plugins folder called 'google-maps-marker.js' with the following code:

[code]

I then used this plugin in my nuxt.config.js file like so:

[code]

However I still get the same error

[code]

Please help!

[2021-02-03 18:59] eregnier commented on #15
If you still have the error, It must be that the transpile directive is not properly used.

1) use npm to install the custom marker package

2) load the vue file as described by @sgarner . it should look like :

[code]

3) double / triple  check that your transpile custom setting is properly used using nuxt.

Does this solve your issue ?

[2021-02-03 19:02] #49 closed

[2021-02-03 19:02] eregnier commented on #49
Closed due to inactivity. feel free to reopen.

[2021-02-03 19:06] eregnier commented on #48
It should be solved and there is no more activity. feel free to reopen if needed.

[2021-02-03 19:06] #48 closed

[2021-02-04 08:21] dataexcess commented on #15
Thank you for the help,

but no, importing the package by appending "/gmap-custom-marker.vue" doesn't change anything...
As for point 3, what do you mean? Why should it not work? I am just using the nuxt.config.file as explained before.
How can I even double check this? I have no idea sorry.

Thank you

[2021-02-04 08:55] dataexcess commented on #15
Ok I found the issue :)
For anyone struggeling with this - it is important that you use the plugin on the client side only!

[code]

🎉

[2021-02-04 13:10] dataexcess commented on #15
I was a bit too fast.
This did solve issues for the plugin ( I can build my app with the plugin connected),
However when I need to use the plugin in code, I still need to specifiy it as a component in my .vue file
and then I again need to use the import statement which again throws the same error...

😭

[2021-02-04 13:40] dataexcess commented on #15
Luckily I found it again! So for any nuxt.js noobs out there.
Just use .component instead of .use in your plugin (duh)

[code]
🎉

[2021-02-04 15:37] eregnier commented on #15
Thank you for sharing.
Note  that your issue is more raw vue issue more than nuxt specific.
Also note that in this project's readme it is described to load the component with an import statement and then use it locally in the current component "components" properties. But yes,  the way you use this plugin should work :) .

[2021-02-04 18:12] dataexcess commented on #15
It is exactly this that is not working - specifically when using nuxt.js... ( at least in my case - I hope someone will prove me wrong )
So I think the issue actually is nuxt.js specific... when trying to import it and register using components inside a vue file it does not work... only when registering it as a global component I can use it inside a vue file (so no local import)

[2021-02-26 09:00] sonpham-bmd opened #50 "How to animate gmap custom marker"
I think this is mistake, GmapMarker support animation!

[2021-02-26 09:00] #50 closed

[2021-02-26 09:20] thanhchuongbmd opened #51 "[Feature request] How to animation gmap customer marker"
I think this is mistake, can not animation marker. I am using marker to tracking car on map. Please add this feature

[2021-02-27 15:48] eregnier commented on #51
Hey, you can just use a gif image or do some css to animate markers. Look at the [demo](https://vue2-gmap-custom-marker-demo.pages.dev/) to have an exemple of what is doable.

As it is possible to animate markers i close this issue. However if the issue is something i missed in you explaination, feel free to reopen.

[2021-03-04 17:56] kaleu50 opened #52 "Cluster image dont work"
I try install cluster but dont work, numbers works fine

![image](https://user-images.githubusercontent.com/6022688/110007782-cc3a3600-7cf9-11eb-9470-6b4664b941f0.png)

[2021-03-04 19:19] giovannidias1 commented on #52
i solved using ;

`imagePath: "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m"`

[2021-03-04 19:19] #52 closed

[2021-03-06 02:30] thanhchuongbmd commented on #51
Yes, this marker can animate with style css, but then I zoom map or drag map is it working incorrect!
![ezgif com-gif-maker](https://user-images.githubusercontent.com/67777599/110192077-8f3b8400-7e5e-11eb-904e-0452079bb5a4.gif)

[2021-03-06 02:44] thanhchuongbmd commented on #51
When I using mixed with package "marker-animate-unobtrusive" then it working ok
Refer link: https://stackoverflow.com/questions/55716325/initializing-marker-animate-unobtrusive-in-vue-fails

[2021-03-06 17:14] eregnier commented on #51
Your issue seems / looks like to be marker coordinates that are not constant. If you want to animate the marker, set it's coordonates and ensure they are constant over time then only you can add a css animation layer that animate the marker around it's fixed coordonates location.

[2021-03-08 01:56] thanhchuongbmd commented on #51
Those marker coordinates can not be constant, because It allways moving realtime. How to animate when change coordinate those markers

[2021-03-11 12:41] vinayakkulkarni opened #53 "How to drag the marker?"
There's a draggable prop & dragend event for the default gmap-marker in the other repo, there's no example of draggable or dragend for markers using this lib ?

https://github.com/eregnier/vue2-gmap-custom-marker/blob/master/gmap-custom-marker.vue#L152

:O

[2021-03-18 21:39] eregnier commented on #53
There is no exemple because this is not implemented at all.
I don't know how It should be done.
I guess we can implement the same logic than the core library marker.
I don't know however where to start for now. I have to find time to study this case and find a solution.
Feel free to PR for this, it will be surely accepted if it works ;)

Thank you for suggesting.

[2021-03-24 14:20] vladtanasiedns commented on #16
What did you separate? How did you solve this issue?

[2021-03-29 20:20] muboeira opened #55 "How to get extra info in a cluster"
So I have a cluster of markers on the same position and I need to know at least the ids of each marker inside the cluster. I didn't find any prop to add additional info like a title to the marker so I can get it later when I click the cluster, did I miss something or there is a way to do it?

[2021-03-31 10:12] Omar-Qalei commented on #16
fix from
{src: '~plugins/vue-google-map.js', ssr: true }
with
{src: '~/plugins/vue-google-map.js', ssr: true }

[2021-03-31 14:06] eregnier commented on #55
What do  you want to do exactly ? If the question is : is there some higher level fonction with cluster system then the answer is : not on this plugin (yet ?) . maybe there is something in the [underlaying library (gmap vue)](https://github.com/eregnier/vue2-gmap-custom-marker#clusters) where you can solve your problem.
If you describe me what you want acheive, I might be able to share my point of

[2021-04-01 05:17] XzyZachary commented on #16
Sorry, it’s been a long time. Maybe I was later because of a version problem. You can see that he replaced npm named gamp-vue. It turned out to be vue-google-maps. You can consider the solution from the version. hope this helps！

[2021-04-18 00:53] #55 closed

[2021-04-18 18:07] eregnier commented on #55
Hey, muboeira, feel free to share how you solved your issue in case it was solved in order to help other people that might encounter the same problems.

[2021-04-21 21:13] eregnier commented on #53
close due to inactivity.

[2021-04-21 21:13] #53 closed

[2021-04-23 12:58] muboeira commented on #55
Hello, I actually end up not using clusters but the problem I was having was that if I used native google markers I could put additional info(id, title) on the marker while on the custom marker I couldn't.

[2021-12-15 14:05] shieldcy opened #56 "Custom marker popup going off screen"
Hello,

I am using custom markers with @click event which opens a popup div box.
It is working fine but if the marker is close to the map edges, the div box goes off screen.

Here's what the parent div looks like:
Is there a way to detect whenever the p

[code]

So lets say a marker is close to the edge of the map and click on it, the box will go off the screen (off the map).
And I have to drag th

[2021-12-22 11:34] eregnier commented on #56
hey @shieldcy

let say you have this code (that it try to use from your exemple)
[code]

with your custom component like below :

[code]

Then it should be possible to compute your panel location depending on map information (this is google an underlaying map object you have to study) and compare it to your marker position then choose to move left or right some content of the custom marker (maybe

[2021-12-22 11:41] eregnier commented on #51
Hey @thanhchuongbmd sorry for the delay, I did not saw your reply and maybe I closed the issue to quickly.

Do you still have the issue ?

Having a look (for the first time just now :disappointed: ) I think there is an issue with your coordonate computation so the marker jumps. Maybe something does not work as expected on this plugin side, but I have no exemple available to test something like you

[2021-12-22 11:42] eregnier commented on #52
:+1:

[2021-12-23 13:55] shieldcy commented on #56
Thanks for your reply @eregnier

What I did in case anyone is interested (I am not sure if this is a good solution but it works):
I used a "ref" as eregnier mentioned above. And checked the position of the parent element to the child element
Parent element = whole map (mapPos)
Child element = marker popup box (popupPos)

[code]

And in css I set position absolute to the marker popup

[code]

[2021-12-23 13:55] #56 closed

[2022-01-14 09:06] goela268 commented on #51
Hey there, I just wanted to sneak in, to tell you the demo is down. Is this project still maintained? Thank you for your work!

[2022-02-01 08:57] eregnier commented on #51
This project is not dead at all ! the demo just moved here https://vue2-gmap-custom-marker-demo.pages.dev/
where did you get the link ? the link on the project homepage is up to date. I should alias the old demo url to the new demo url I guess :smile:

[2022-02-17 01:05] web-programmer-here opened #57 "Making this library for vue3-google-map"
Thank you for making this amazing package, the demo looks great.
Would you be able to make the same component for vue3-google-map? https://github.com/inocan-group/vue3-google-map
thank you

[2022-02-17 23:50] eregnier commented on #57
It should be possible. I'll give it a try in a near future (I cannot tell any release date as I did not studied this at the moment).
I'll update this thread if something start to work :)

[2022-02-18 02:40] web-programmer-here commented on #57
@eregnier thank you, amazing news to hear this. cant wait to test it out 💯

[2022-02-19 01:08] eregnier commented on #57
here we are :partying_face: https://github.com/eregnier/vue3-gmap-custom-marker
This is brand new, in beta and not much battle tested.
Please test and let me know [on the issue of this project](https://github.com/eregnier/vue3-gmap-custom-marker/issues) what is good , what isn't and other sugestions.
There is some extra work to do to make it works properly I guess, your testing will be appreciated

[2022-02-19 01:41] web-programmer-here commented on #57
oh wow @eregnier amazing! thank you, going to test it out now

[2022-02-23 12:06] #57 closed

[2022-04-20 16:43] alebacca89 opened #58 "incompatibility with gmap-vue@3.5.2 cluster and custom marker"
How can I use vue2-gmap-custom-marker with last version of gmap-vue?
If I insert the custom marker into gmap cluster it doesn't work.
The problem seems to be the costructor of the marker. The cluster used in the new version of the gmap-vue wants mmarker as google marker instance and invoke some methods like getLatitude().

[2022-05-03 15:15] eregnier commented on #58
ok, I have to check what can be done. I'll try to give a head soon. Thank you for your report

[2022-05-17 03:15] sdevore commented on #58
I wonder if one is going to need to change from OverlayView to using MarkerWithLabel https://github.com/googlemaps/js-markerwithlabel

[2022-08-23 15:44] eigudewie commented on #58
Any update on this case?
Best regards

[2022-08-23 16:28] eregnier commented on #58
@eigudewie , @alebacca89 do you have a minimal sample code to reproduce the issue ?

[2022-08-27 12:35] vushe opened #59 "Displaced markers on page change in Nuxt"
Hello,

Thanks for a nice and useful module!
My issue is probably related to SSR rendering in Nuxt. Yet I don't quite understand, why it happens.

1. I load a page with the map. Say, `http://localhost/place-search/`. All markers positions on the map are correct
2. I navigate to another page, say `http://localhost/place-search/place`
3. I navigate back to `http://localhost/place-search/`. <ins>Now

[2022-09-07 21:18] eregnier commented on #59
Hello,

yes, you can do a PR, I will integrate it if it does not break things :smiley:

I have no other better idea at the moment.

[2022-09-08 17:30] eregnier commented on #59
I merged and published the release. I hope this will help you

[2022-09-09 19:00] vushe commented on #59
Thanks @eregnier! It should be safe to go 👍🏻

[2022-09-14 13:42] #59 closed

[2022-09-14 13:43] eregnier commented on #51
inactivity

[2022-09-14 13:43] #51 closed